.cabecalho{ 
        font-size: larger; 
        background-color: blueviolet;
        text-decoration: italic;
        } 
        
        .corpo {
        text-align: right; font-style: oblique; font-size: medium;
        font-style:initial; 
        background-color: rgb(153, 43, 226);
        font-style: oblique;
        }
        
       body { 
       background-color: rgb(255, 0, 149);
       }
.dev {
font-style: unset;
font-size:larger;

}
